body {
  background: #f5f5dc;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181a1b;
  }
}

html[data-theme="dark"] body {
  background: #181a1b !important;
}
html[data-theme="light"] body {
  background: #f5f5dc !important;
} 