.nav {
  margin: 0 auto;
  padding: 18px 0 12px 0;
  text-align: center;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .nav {
    background-color: #181a1b;
  }
}

body[data-theme="dark"] .nav {
  background-color: #181a1b !important;
}
body[data-theme="light"] .nav {
  background-color: #f5f5dc !important;
}
.nav a:hover {
  text-decoration: none;
}

.nav a {
  color: #333;
}

@media (prefers-color-scheme: dark) {
  .nav a {
    color: #eaeaea;
  }
}

body[data-theme="dark"] .nav a {
  color: #eaeaea !important;
}
body[data-theme="light"] .nav a {
  color: #333 !important;
}
